<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #fbf8f4;
        }

        h2 {
            font-size: 35px;
            text-align: center;
        }

        p {
            padding: 0 2%;
            font-size: 25px;
            line-height: 2;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>our mission</h2>
    <p>Established in 1969 by Michael Kittredge, the company began as a humble operation in South Hadley, Massachusetts,
        where Kittredge crafted candles as gifts for his family and friends. Inspired by his passion for creating unique
        scents, Kittredge soon realized the potential of his craft and began selling his candles to local stores.

        Glow Candle's early success was driven by Kittredge's innovative approach to candle making, which focused on
        using high-quality wax blends and fragrances to produce long-lasting and aromatic candles. As demand for his
        products grew, Kittredge expanded his business, eventually opening a flagship store in Deerfield, Massachusetts,
        in 1983.

        Throughout the years, glowing Candle has continued to innovate and evolve, introducing new scents, designs, and
        product lines to meet the changing preferences of consumers. Today, the company offers a diverse range of
        candles, including jar candles, pillar candles, wax melts, and decorative accessories, catering to various
        occasions and decorating styles.

        Glow Candle's commitment to quality and craftsmanship has earned it a loyal following around the world, with its
        candles becoming synonymous with warmth, comfort, and ambiance in homes everywhere. Despite its growth and
        success, the company remains true to its roots, drawing inspiration from its founder's original vision of
        creating candles that ignite the senses and elevate everyday moments.</p>
</body>

</html>